streamlit
pandas
plotly
scikit-learn
wordcloud
matplotlib
numpy
nltk
thefuzz
python-levenshtein
streamlit-plotly-events
google-genai


# extras para "tudo" (com fallback no código se não carregar)
sentence-transformers
torch
shap
